.details {
    max-width: 960px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 100px;
    padding: 25px;
    background-color: #3f51b5;
    color: #fff;
}

.details p {
    color: #cddc39;
}

.details-header {
    display: flex;
    justify-content: space-between;
}

.details .info {
    display: flex;
    justify-content: space-between;    
}

.details .info-block {
    flex-basis: 50%;
}

.details .contract-table {
    display: flex;
    justify-content: space-between;  
}


.details .btn {
	letter-spacing: 1px;
	font-size: 12px;
	display: inline-block;
	position: relative;
	border-radius: 2px;
	overflow: hidden;
	-webkit-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
	font-family: sans-serif;
	cursor:pointer;
	border: none;
	padding: 12px 20px 12px 20px;
	margin: 5px;
	background-color: transparent;
	text-align: center;
	color: #444;
    color: white;
}

.btn:focus {
	outline: none;
}

.btn:hover {
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3), 0 15px 15px 0 rgba(0, 0, 0, 0.4);
	background-color: #FFF !important;
	color: #222 !important;
}

.btn:active {
	-webkit-transition: 0.05s ease-out;
	transition: 0.05s ease-out;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.44), 0 1px 1px 0 rgba(0, 0, 0, 0.68);
}